<link rel="stylesheet" href="/stylesheets/dashboard.css">

<main class="dashboard">
  <div class="container criteria">
    <div class="row">
      <div class="col-md-6 crit-form">
        <form class="new-post-form ">
          <div class="input-color">
            <label class='input-color' for="post-title">Workout Name</label>
            <input type="text" id="post-title" name="post-title" />
          </div>
          <p class="input-color">Please select your workout data. <br>Please select at least one criteria,<br>and use
            all
            that apply.</p>
          <div class="input-color">
            <label class='input-color' for="post-distance">Distance (miles)</label>
            <input type="number" value=0 id="post-distance" name="post-distance" />
          </div>
          <div class="input-color">
            <label class='input-color' for="post-time">How Long in Time (minutes)?</label>
            <input type="number" value=0 id="post-time" name="post-time" />
          </div>
          <div class="input-color">
            <label class='input color' for="post-weight">How much weight (lbs)?</label>
            <input type="number" value=0 id="post-weight" name="post-weight" />
          </div>
          <div class="input-color">
            <label class='input-color' for="post-sets">How many sets?</label>
            <input type="number" value=0 id="post-sets" name="post-sets" />
          </div>
          <div class="input-color">
            <label class='input-color' for="post-reps">Reps</label>
            <input type="number" value=0 id="post-reps" name="post-reps" />
          </div>
          <button type="submit" class="btn">Create</button>
        </form>
      </div>
      <div class="col-md-6 results ">
        {{#if posts.length}}
        <section class="image2">
          <h2 class="input-color">Your Exercises</h2>
          <ol class="input-color">
            {{#each posts as |post|}}
            <li>
              {{> post-info post}}
              <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
            </li>
            {{/each}}
          </ol>
        </section>
        {{/if}}
      </div>
    </div>
  </div>
</main>

<script src="/javascript/add-post.js"></script>